@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    background: #EEE;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

h1 {
    letter-spacing: 3px;
}

.poke-container {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    align-items: space-between;
}

.pokemon {
    margin: 10px;
    padding: 20px;
    text-align: center;
    background: #EEE;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

.pokemon .image-container {
    width: 120px;
    height: 120px;
    text-align: center;
}

.pokemon .image-container img {
    width: 120px;
    height: 120px;
    object-fit: fill;
    border-radius: 10px;
}

.pokemon .info {
    margin-top: 20px;
}

.pokemon .info .number {
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

.pokemon .info .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
}